<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->

<head>
    <div th:replace="/layout/header :: fragment-header"></div>
</head>

<!--<sec:authorize access="isAuthenticated()">
    <sec:authentication property="principal" var="principal"/>
</sec:authorize>-->

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="/layout/sidebar.html :: fragment-sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:replace="/layout/topbar.html :: fragment-topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>

                    <!--회원 테이블-->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex justify-content-between">
                            <h2 class="m-0 font-weight-bold text-primary">회원 관리</h2>
                            <h6 class="m-0 font-weight-bold text-primary d-flex align-items-end">
                                <div>총 회원수 : <span th:text="${memberList.totalElements}"></span></div>
                            </h6>
                        </div>
                        <div class="card-body">
<!--                            <p th:text="|리스트 사이즈: ${#lists.size(memberList)}|"></p>-->
<!--                            <p th:text="${memberList.getContent.get(3).username}"></p>-->
                            <div class="table-responsive">
                                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_length" id="dataTable_length"><label>Show <select
                                                name="dataTable_length" aria-controls="dataTable"
                                                class="custom-select custom-select-sm form-control form-control-sm">
                                                <option value="10">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> entries</label></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                                   cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                                   style="width: 100%;">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable"
                                                        rowspan="1" colspan="1" aria-sort="ascending"
                                                        aria-label="Name: activate to sort column descending"
                                                        style="width: 780px;">번호
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                        colspan="1" aria-label="Age: activate to sort column ascending"
                                                        style="width: 101px;">ID
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                        colspan="1" aria-label="Salary: activate to sort column ascending"
                                                        style="width: 171px;">등급
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                        colspan="1"
                                                        aria-label="Start date: activate to sort column ascending"
                                                        style="width: 101px;">가입경로
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                        colspan="1" aria-label="Salary: activate to sort column ascending"
                                                        style="width: 171px;">가입일
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                        colspan="1" aria-label="Salary: activate to sort column ascending"
                                                        style="width: 171px;">삭제
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                        colspan="1" aria-label="Salary: activate to sort column ascending"
                                                        style="width: 171px;">관리자로 전환
                                                    </th>
                                                </tr>
                                                </thead>

                                                <tbody th:each="num:${#numbers.sequence(0,#lists.size(memberList.getContent)-1)}">
                                                <tr>
                                                    <td class="sorting_1" id="memId" th:text="${memberList.getContent.get(num).id}">번호</td>
                                                    <td th:text="${memberList.getContent.get(num).username}">ID</td>
                                                    <td th:text="${memberList.getContent.get(num).role}">등급</td>
                                                    <td th:text="${memberList.getContent.get(num).provider}">가입경로</td>
                                                    <td th:text="${memberList.getContent.get(num).createDate}">가입일</td>
                                                    <td><button class="btn btn-primary" id="btn-memDelete" name="btn-memDelete">
                                                        회원삭제</button></td>
                                                    <td><button type="button" class="btn btn-primary" id="btn-levelUp" name="btn-levelUp">
                                                        전환</button></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info" id="dataTable_info" role="status"
                                                 aria-live="polite">Showing 1 to 10 of 57 entries
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-md-7">
                                            <div id="dataTable_paginate">
                                                <ul class="pagination justify-content-end">
                                                    <li th:class="${memberList.first} ? 'page-item disabled'"><a
                                                        class="page-link"
                                                        th:href="@{/admin/memberManage(page=${memberList.number-1})}">Previous</a>
                                                    </li>
                                                    <li th:class="${page==nowPage} ? 'page-item disabled'"
                                                        th:each="i : ${#numbers.sequence(startPage, endPage)}">
                                                        <a class="page-link" th:if="${page!=nowPage}"
                                                           th:href="@{/admin/memberManage(page=${i-1})}"
                                                           th:text="${i}"></a>
                                                    </li>
                                                    <li th:class="${memberList.last} ? 'page-item disabled'"><a class="page-link"
                                                                                                           th:href="@{/admin/memberManage(page=${memberList.number+1})}">Next</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="/layout/footer.html :: fragment-footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <script th:src="@{/js/admin.js}"></script>
</body>

</html>