<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script>

  </script>

</head>
<body>
<div>
  <h5>소셜 아이디로 로그인</h5>
  <div style="float: left; width: 30%; padding:10px;"> <!--구글로그인-->
    <a href="/oauth2/authorization/google">구글 로그인</a>
  </div>
  <div style="float: left; width: 30%; padding:10px;">
    <a href="/oauth2/authorization/naver">네이버로그인</a>
  </div>
  <div style="float: left; width: 30%; padding:10px;">
    <a href="/oauth2/authorization/kakao">카카오로그인</a>
  </div>
</div>

<<!--<script src="/test/user.js"></script>-->
</body>
</html>