<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layout/header :: fragment-header"></div>
</head>

<body id="page-top">
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/layout/sidebar.html :: fragment-sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="/layout/topbar.html :: fragment-topbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex justify-content-between align-items-center">
                        <div>
                            <button class="btn btn-secondary" onclick="history.back()">돌아가기</button>
                            <th:block sec:authorize="isAuthenticated()">
                                <th:block
                                        th:if="${board.user.id} == ${#authentication.principal.user.id} or ${#authentication.principal.user.role.equals('ROLE_ADMIN')}">
                                    <a th:href="@{/board/updateForm/{id}(id=${board.id})}" class="btn btn-warning">수정</a>
                                    <button id="btn-delete" class="btn btn-danger">삭제</button>
                                </th:block>
                            </th:block>
                        </div>
                        <div>
                            글 번호: <span id="id"><i th:text="${board.id}"></i></span>
                            작성자: <span><i th:text="${board.user.nickname}"></i></span>
                            조회수: <span><i th:text="${board.views}"></i></span>
                            등록일: <span><i th:text="${board.createDate}"></i></span>
                        </div>
                    </div>


                    <div class="card-body">

<!--                        <div class="form-group">
                            <h3 th:text="${board.title}" id="title"></h3>
                        </div>
                        <hr/>-->
                        <h2 class="m-0 font-weight-bold text-primary text-center" th:utext="${board.content}"></h2>

                        <div class="form-group" style="min-height:30rem">
                            <div th:utext="${board.content}" id="content2"></div>
                        </div>
                        <hr/>

                        <div class="card">
                            <form sec:authorize="isAuthenticated()">
                                <input type="hidden" id="userId" th:value="${#authentication.principal.user.id}"/>
                                <input type="hidden" id="boardId" th:value="${board.id}"/>
                                <div class="card-body">
                                    <textarea id="reply-content" class="form-control" rows="1"></textarea>
                                </div>
                                <div class="card-footer">
                                    <button type="button" id="btn-reply-save" class="btn btn-primary">등록</button>
                                </div>
                            </form>
                        </div>
                        <br/>


                        <div class="card">
                            <div class="card-header">댓글</div>
                            <ul id="reply-box" class="list-group">
                                <li id="reply-${reply.id}" class="list-group-item d-flex justify-content-between"
                                    th:each="reply:${board.replys}">
                                    <div th:text="${reply.content}">댓글 내용입니다.</div>
                                    <div class="d-flex">
                                        <div th:text="|작성자 : ${reply.user.username} &nbsp|" class="font-italic">작성자 :
                                        </div>
                                        <th:block sec:authorize="isAuthenticated()">
                                            <th:block
                                                    th:if="${reply.user.id} == ${#authentication.principal.user.id} or ${#authentication.principal.user.role.equals('ROLE_ADMIN')}">
                                                <button th:onclick="|javascript:index.replyDelete(${board.id}, ${reply.id})|"
                                                        class="badge">
                                                    삭제
                                                </button>
                                            </th:block>
                                        </th:block>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="/layout/footer.html :: fragment-footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content -->


        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <script th:src="@{/js/board.js}"></script>

    </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Wrapper -->
</body>
</html>