<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:replace="/layout/header.html :: fragment-header"></div>
</head>

<!--<sec:authorize access="isAuthenticated()">-->
<!--    <sec:authentication property="principal" var="principal"/>-->
<!--</sec:authorize>-->

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div th:replace="/layout/sidebar.html :: fragment-sidebar"></div>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div th:replace="/layout/topbar.html :: fragment-topbar"></div>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex justify-content-start align-items-center">
                        <h2 class="m-0 font-weight-bold text-primary text-center">Dashboard</h2>
                    </div>
                    </div>

                    <div class="card shadow mb-4 mt-1">
                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <!-- 음식 검색 랭크 리스트 -->
                        <div class="col-xl-5 col-md-5 mb-4 ml-auto">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-xl-12 col-md-12 mr-2">
                                            <div class="text-lg font-weight-bold text-info text-uppercase mb-1">최근 검색 최다 음식 랭크
                                            </div>
                                            <h6 class="col justify-content-end">
                                                <small th:text="|기간: ${foodRankAllList.get(0).countPeriod}|"></small>
                                            </h6>
                                            <div class="row no-gutters align-items-center">
<!--                                                여기에 리스트 뿌려주기-->
                                                <div class="col-xl-12 col-md-12">
<!--                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"-->
<!--                                                        th:text="${foodRankAllList.get(0).searchKeyword}"></div>-->
                                                  <table class="table table-hover"><!-- h5 mb-0 mr-3 text-gray-300">-->
                                                      <thead>
                                                      <tr>
                                                          <th scope="col">Rank</th>
                                                          <th scope="col">Food</th>
                                                          <th scope="col">Count</th>
                                                      </tr>
                                                      </thead>
                                                      <tbody>
                                                      <tr th:each="num:${#numbers.sequence(0,#lists.size(foodRankAllList)-1)}">
                                                          <th scope="row" th:text="${foodRankAllList.get(num).rank_}"></th>
                                                          <td th:text="${foodRankAllList.get(num).searchKeyword}">Mark</td>
                                                          <td th:text="${foodRankAllList.get(num).count}">Otto</td>
                                                      </tr>
                                                      </tbody>
                                                  </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- 타입별 음식 검색 랭크 리스트 -->
                        <div class="col-xl-5 col-md-5 mb-4 mr-auto">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-xl-12 col-md-12 mr-2">

                                            <div class="text-lg font-weight-bold text-info text-uppercase mb-1"
                                                 th:text="|${mbtiName} 타입의 최근 검색 최다 음식 랭크|">최근 최다 검색 음식
                                            </div>
                                            <h6 class="col justify-content-end">
                                                <small th:text="|기간: ${foodRankTypeList.get(0).countPeriod}|"></small>
                                            </h6>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-xl-12 col-md-12">
                                                    <table class="table table-hover col-auto">
                                                        <thead>
                                                        <tr>
                                                            <th scope="col">Rank</th>
                                                            <th scope="col">Food</th>
                                                            <th scope="col">Count</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="num:${#numbers.sequence(0,#lists.size(foodRankTypeList)-1)}">
                                                            <th scope="row" th:text="${foodRankTypeList.get(num).rank_}"></th>
                                                            <td th:text="${foodRankTypeList.get(num).searchKeyword}">Mark</td>
                                                            <td th:text="${foodRankTypeList.get(num).count}">Otto</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-10 col-lg-10 mr-auto ml-auto">
                        <div class="card shadow mb-4">
                          <!-- Card Header - Dropdown -->
                          <div
                              class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="text-lg font-weight-bold text-info text-uppercase mb-1">검색 추이</h6>
                          </div>
                          <!-- Card Body -->
                          <div class="card-body">
                            <div class="chart-bar">
                              <!--                                        <canvas id="myAreaChart"></canvas>-->
                              <canvas id="totalChart"></canvas>
                            </div>
                          </div>
                        </div>
                      </div>
                        <div class="col-xl-10 col-lg-10 mr-auto ml-auto">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                                    <h6 class="text-lg font-weight-bold text-info text-uppercase mb-1">성별 검색 추이</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="gendersChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 mr-auto ml-auto">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="text-lg font-weight-bold text-info text-uppercase mb-1">연령별 검색 추이</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="agesChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->



            <!-- Footer -->
            <footer th:replace="/layout/footer.html :: fragment-footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    </div>



    <!-- Page level plugins -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/chart-bar.js"></script>

</body>

</html>