<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->

<head>
    <div th:replace="/layout/header :: fragment-header"></div>
</head>

<!--<sec:authorize access="isAuthenticated()">
    <sec:authentication property="principal" var="principal"/>
</sec:authorize>-->

<body id="page-top" class="bg-gradient-primary">

    <!-- Page Wrapper -->
    <div id="wrapper">


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-3 static-top shadow" style="position:fixed; width:100%; z-index:1;">

                    <div class="d-none d-sm-inline-block">
                        <a th:href="@{#}">
                            <img th:src="@{/img/logo.png}" width="150">
                        </a>
                    </div>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <a th:href="@{/auth/login}" class="btn btn-primary btn-icon-split">
                            <span class="text">LOGIN</span>
                        </a>

                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid" style="z-index:0;">

                    <div class="row justify-content-center">

                        <div class="col-xl-12 col-lg-12 col-md-12">

                            <div class="card o-hidden border-0 shadow-lg my-1">
                                <div class="card-body p-0">

                                    <!-- content -->
                                    <div class="row justify-content-center">
                                        <div class="col-xl-12 col-lg-12">
                                            <!--background-->
                                            <div>
                                                <img th:src="@{/img/indexImg/main1.png}" width="100%">
                                            </div>
                                            <!--명언-->
                                            <div class="p-5 text-center mb-4 shadow-lg">
                                                <figure class="mb-4">
                                                    <blockquote class="blockquote">
                                                        <p>화려하고 복잡한 걸작을 요리할 필요는 없다. 다만 신선한 재료로 좋은 음식을 요리하라.</p>
                                                    </blockquote>
                                                    <figcaption class="blockquote-footer">
                                                        Julia Child <cite title="Source Title">Source Title</cite>
                                                    </figcaption>
                                                </figure>
                                                <figure class="mb-4">
                                                    <blockquote class="blockquote">
                                                        <p>음식을 만드는 건 항상 귀찮다. 그래도 먹고는 살아야 한다.</p>
                                                    </blockquote>
                                                    <figcaption class="blockquote-footer">
                                                        Seo-jeong Kim in<cite title="Source Title">Campfire</cite>
                                                    </figcaption>
                                                </figure>
                                                <figure class="mb-4">
                                                    <blockquote class="blockquote">
                                                        <p>먹고 싶은 음식이 있다는 건 크나큰 행복이다. 행복을 추구하라.</p>
                                                    </blockquote>
                                                    <figcaption class="blockquote-footer">
                                                        Dong-sik Eom in<cite title="Source Title">Campfire</cite>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            <!--banner-->
                                            <div class="p-5 text-center">
                                                <h1 class="display-4 text-primary mb-4">CONTENTS</h1>
                                                <div class="text-center d-flex justify-content-center">
                                                    <div style="display : flex; flex-direction: row; align-items: center;">
                                                        <div>
                                                            <button onclick="left()" style="border: 0; outline:0; background-color:transparent;">
                                                                <img th:src="@{/img/indexImg/left.png}" width="50">
                                                            </button>
                                                        </div>
                                                        <div>
                                                            <a th:href="@{/mbti}" id="atag">
                                                                <img th:src="@{/img/indexImg/c1.png}" width="1000">
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <button onclick="right()" style="border: 0; outline:0; background-color:transparent;">
                                                                <img th:src="@{/img/indexImg/right.png}" width="50">
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="/layout/footer.html :: fragment-footer"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


</body>
<script th:src="@{/js/index.js}"></script>
</html>